.cold-container {
    margin: 40px 0px 40px 0px;
    display: flex;
}

.cold {
    background-color: #f06464;
    display: flex;
}
.cold-title {
    font-size: 60px;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
}
.cold-description {
    font-size: 24px;
    max-width: 500px;
    text-align: center;
    color: white;
}
.cold-button,.cold-button-black {
    margin-top: 10px;
}
.cold-right img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}
.cold-left,.cold-right {
    max-width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
}


.cold-button {
    border: 1px solid white;
    max-width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
}
.cold-button-white {
    color: white;
    font-weight: 500;
}
.cold-button-black:hover {
    background-color: rgba(89, 88, 88, 0.7);
}

@media screen and (max-width : 1024px){
    .cold {
        display: flex;
        flex-direction: column-reverse;
    }
    .cold-title {
        font-size: 30px;
        margin-top: 10px;
    }
    .cold-left {
        padding: 20px;
    }
    .cold-description {
        font-size: 18px;
    }
    .cold-button {
        margin-top: 20px;
    }
    .cold-right, .cold-left {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    .cold-description {
        margin: 0 auto;
        align-items: center;
        align-content: center;
    }
}

@media screen and (max-width :600px) {
    
}