.reward-container {
    margin: 40px 0px 40px 0px;
    display: flex;
}

.reward {
    background-color: #1e3932;
    display: flex;
}
.reward-title {
    font-size: 25px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: white;
}
.reward-button,.reward-button-white {
    margin-top: 40px;
}
.reward img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}
.reward-left,.reward-right {
    max-width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
}

.reward-button {
    border: 1px solid white;
    max-width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
.reward-button-white {
    color: white;
}
.reward-button-white:hover {
    background-color: rgba(89, 88, 88, 0.7);
}

@media screen and (max-width : 1024px){
    .reward {
        display: flex;
        flex-direction: column;
    }
    .reward-title {
        font-size: 18px;
        margin-top: 20px  ;
    }
    .reward-button {
        margin-top: 30px;
    }
    .reward-left,.reward-right {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width :600px) {
    
}